[user]
	name = Tien Le
	email = tienlx@gmail.com
[alias]
	ci = commit
	co = checkout
	st = status
	lg = log --color -n 10
	lgg = log --graph --color -n 10
	logl = log --pretty=oneline --abbrev-commit --color
	dc = diff --cached
  ws = diff --check
[color]
  diff = auto
  status = auto
[color "status"]
	changed = yellow
	added = green
	untracked = red
[merge]
	tool = meld
