[user]
	name = Tien Le
	email = tienlx@gmail.com
[alias]
	ci = commit
	st = status
	lg = log --color -n 10
	lgg = log --graph --color -n 10
	logl = log --pretty=oneline --abbrev-commit --color
  ws = diff --check
[github]
	user = tienle
	token = 24a45f0b6ac3451e379c2327d71db8a3
[color]
  diff = auto
  status = auto
[color "status"]
	changed = yellow
	added = green
	untracked = red
